node_modules/
dist/
.DS_Store
artworks/*.mp4
!artworks/a-sunday-afternoon-on-the-island-of-la-grande-jatte.mp4
!artworks/a-thousand-li-of-rivers-and-mountains.mp4
!artworks/admonitions-of-the-instructress-to-the-court-ladies.mp4
!artworks/along-the-river-during-the-qingming-festival.mp4
!artworks/ancient-pastoral-scroll.mp4
!artworks/birds-and-plum-blossoms.mp4
!artworks/boating-on-the-seine.mp4
!artworks/cafe-terrace-at-night.mp4
!artworks/court-ladies-preparing-newly-woven-silk.mp4
!artworks/dwellings-by-the-stream.mp4
!artworks/farmhouse-in-provence.mp4
!artworks/fishing-boats-at-sea.mp4
!artworks/flowers-in-a-crystal-vase.mp4
!artworks/girl-reading-a-letter-at-an-open-window.mp4
!artworks/luncheon-of-the-boating-party.mp4
!artworks/napoleon-crossing-the-alps-alternate.mp4
!artworks/old-man-at-the-window.mp4
!artworks/sunflowers.mp4
!artworks/the-dream.mp4
!artworks/the-gleaners.mp4
!artworks/the-luncheon-on-the-grass.mp4
!artworks/the-third-class-carriage.mp4
!artworks/two-women-at-the-window.mp4
!artworks/visiting-a-friend-in-the-mountains.mp4
!artworks/woman-at-a-window.mp4
!artworks/woman-with-a-parasol.mp4
!artworks/woman-with-fans.mp4
!artworks/young-woman-in-the-garden.mp4
ChatGPT Image*.png
